body {
    background-color:#ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #444;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

h1 {
    color:#1a237e;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: normal;
    border-bottom: 2px solid #1a237e;
    padding-bottom: 10px;
    margin-bottom: 40px;
}

a {
    color: white;
    background-color: #007bff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #0056be;
}

.perfil-img {
    display: block;
    margin: 0 auto 30px auto;
    border-radius: 50%;
    border: 5px solid #1a237e;
    }

.dark-mode {
    background-color: #1c1c1c;
    color: #e0e0e0;
}

.dark-mode a {
    color: #8be9fd;
  }







